/* base styles */
*.index {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: white;
    /* border: 1px solid green; */
}

html.index {
    background: #191414;
    height: 100%;
    width: 100%;
}

body.index {
    height: 100%;
    width: 100%;
}

.container.index {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.index {
    margin: 0.5rem;
    color: white;
    font-size: 6rem;
    text-align: center;
}

button.index {
    margin: 0.5rem;
    background: transparent;
    border: none;
    text-align: center;
}

form input.index, button.join {
    margin: 0.5rem;
    background: transparent;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
}

button.index:hover {
    color: gray;
}

@media (min-width: 576px) {
    h1.index {
        font-size: 8rem;
    }

    button.index {
        margin: 1rem;
        font-size: 0.75rem;
    }
    form input.index, button.join {
        margin: 1rem;
        font-size: 1.5rem;
        border: 2px solid rgba(255, 255, 255, 0.6);
    }

}

@media (min-width: 768px) {
    h1.index {
        font-size: 10rem;
    }

    button.index {
        margin: 1.5rem;
        font-size: 1rem;
    }
    form input.index, button.join {
        margin: 1.5rem;
        font-size: 2rem;
        border: 3px solid rgba(255, 255, 255, 0.6);
    }

}

@media (min-width: 992px) {
    h1.index {
        font-size: 12rem;
    }

    button.index {
        margin: 2rem;
        font-size: 1.25rem;
    }
    form input.index, button.join {
        margin: 2rem;
        font-size: 2.5rem;
        border: 4px solid rgba(255, 255, 255, 0.6);
    }

}

@media (min-width: 1200px) {
    h1.index {
        font-size: 16rem;
    }

    button.index {
        margin: 2.5rem;
        font-size: 1.5rem;
    }
    form input.index, button.join {
        margin: 2.5rem;
        font-size: 3rem;
        border: 5px solid rgba(255, 255, 255, 0.6);
    }

}
.join.index {
    margin: 0rem;
}
form input.index {
    margin-right: 0;
}