/* some fun rules go here */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    padding: 2rem;
    margin: 2rem;
}

h1, h2 {
    padding-bottom: 2rem;
}

h3 {
    padding-bottom: 1rem;
}

p, ul {
    padding-bottom: 2rem;
}

.chart {
    max-height: 600px;
    max-width: 1200px;
}