/* base styles */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: white;
    /* border: 1px solid green; */
}

html {
    background: #191414;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0.5rem;
    color: white;
    font-size: 6rem;
    text-align: center;
}

form input {
    margin: 0.5rem;
    background: transparent;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
}

button {
    margin: 0.5rem;
    background: transparent;
    border: none;
    text-align: center;
}

button:hover {
    color: gray;
}

@media (min-width: 576px) {
    h1 {
        font-size: 8rem;
    }

    form input {
        margin: 1rem;
        font-size: 1.5rem;
        border: 2px solid rgba(255, 255, 255, 0.6);
    }

    button {
        margin: 1rem;
        font-size: 0.75rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 10rem;
    }

    form input {
        margin: 1.5rem;
        font-size: 2rem;
        border: 3px solid rgba(255, 255, 255, 0.6);
    }

    button {
        margin: 1.5rem;
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 12rem;
    }

    form input {
        margin: 2rem;
        font-size: 2.5rem;
        border: 4px solid rgba(255, 255, 255, 0.6);
    }

    button {
        margin: 2rem;
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 16rem;
    }

    form input {
        margin: 2.5rem;
        font-size: 3rem;
        border: 5px solid rgba(255, 255, 255, 0.6);
    }

    button {
        margin: 2.5rem;
        font-size: 1.5rem;
    }
}
