nav {
    background: #333;
    padding: 1em;
    color: white;
}

nav a {
    color: white;
}

footer {
    bottom: 0;
    padding: 15px 0px 15px 0px;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    background-color: black;
}