* {
    box-sizing: border-box;
    /* For debugging */
    /* border: 1px solid green; */
}

/* Portal */
.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-item {
    flex: 1;
}

/* User Columns */
.user-content {
    top: 0;
    height: 75%;
}

/* room code header */
.flex-item-room-code {
    margin-top: 60px;
    color: #1DB954;
    text-align: center;
}

.user-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* each user */
.user-item {
    display: flex;
    flex-direction: row;
    margin: 1em;
    margin-right: 1.5em;
}

.user-photo {
    border-radius: 50%;
    height: 2em;
}

.user-name {
    display: inline-block;
}
/* open navigation bar */
.sidenav {
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

/* Position and style the close button (top right corner) */
.sidenav .btn {
    font-size: 36px;
    color: #1DB954;
    /* background-color: white; */
    /* border: none; */
}

.sidenav .closebtn {
    margin: 5px;
    margin-right: 15px;
    background-color: white;
    border: 1px;
    cursor: pointer;
}

.sidenav .openbtn {
    width: 100%;
    text-align: center;
}

.sidenav .leavebtn {
    display: none;
    margin-top: 1em;
    width: 100%;
}

.horizontal {
    writing-mode: vertical-rl;
}

.flex-item-users {
    margin-left: 15px;
    padding: 0 5px;
    align-items: left;
    color: #000000;
}

.flex-item-space {
    flex: 3;
}

button.leave {
    bottom: 200px;
    flex: 1;
    color: #1DB954;
    background-color: white;
    /* border: none; */ /* for testing */
}
.button-holder {
    padding-left: 30%;
}
.flex-item-users li {
    padding: 5px; 
    list-style-type: none;
}

.party-id-field {
    flex: 5;
    margin-right: 0.5em;
    background: transparent;
    font-size: 1rem;
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
}
.party-error {
    color: red;
    margin-left: 1rem;
    margin-bottom: 0;
    font-size: small;
    border-color: red;
}

.error-Id-box {
    border-color: red;
}

.username {
    flex: 5;
    margin-right: 0.5em;
    background: transparent;
    font-size: 1rem;
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
}

.submit-button {
    flex: 1;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: 9px 0px 9px 0px;
    
    cursor: pointer;
}

.logo {
    flex: 1;
    margin-top: 20px;
    max-height: 200px;
    position: center;
}

.new-party-link {
    text-decoration: none;
    border: none;
    background: none;
    color: white;
}

.new-party-link:hover, .submit-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.new-party-link:active, .submit-button:active {
    opacity: 0.2;
}

.banner {
    flex: 1;
    font-size: 8em;
}

/* Instructions and Disclaimers */

.instruction-module {
    text-align: center;
}

.instruction-module h1 {
    margin: 2rem;
    font-size: 3rem;
}

.instruction-module-portal p {
    margin-top: 2rem;
}

.instruction-module ol, .instruction-module ul {
    display: inline-block;
    text-align: left;
    width: 600px;
}

.instruction-module li {
    margin: 0.5rem;
}

.instruction-module strong {
    color: #1DB954;
}

.instruction-module-portal {
    margin-top: 2rem;
}

.text-column {
    width: 50%;
}
.text-column-item {
    width: 50%;
}
.two-columns-layout:after {
    display: table;
    clear: both;
}

/* Responsive Design */
/* mobile - extra-small screens */ 
@media (max-width: 598px) {
    /* Party Portal CSS */
    .banner {
        font-size: 4rem;
    }
    /* Instruction Module */
    .instruction-module h1 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }
    
    .instruction-module ol, .instruction-module ul {
        width: 300px;
    }

    /* Queue CSS */
    .flex-item-queue-list {
        width: 80%;
    }

    /* UserInfo CSS */
    .flex-item-room-code {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .flex-item-users {
        display: none;
    }
    
    /* CurrentModule CSS */
    .info-column {
        display: none;
    }

    /* Footer Style */
    .footer {
        display: none;
    }
}


/* mobile - small screens */
@media (min-width: 598px) {
    /* Party Portal CSS */

    /* Instruction Module CSS */
    .instruction-module h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    
    .instruction-module ol, .instruction-module ul {
        width: 450px;
    }

    /* Queue CSS */
    .flex-item-queue-list {
        width: 80%;
    }

    /* UserInfo CSS */
    .flex-item-room-code {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .flex-item-users {
        display: none;
    }
    
    /* CurrentModule CSS */
    .info-column{
        display: none;
    }

    /* Footer Style */
    .footer {
        display: none;
    }
}

/* mobile - medium screens */
@media (min-width: 768px) {
    /* Party Portal CSS */
    .instruction-module h1 {
        margin-bottom: 3rem;
        font-size: 2rem;
    }
    
    .instruction-module ol, .instruction-module ul {
        width: 600px;
    }

    /* Queue CSS */
    .flex-item-queue-list {
        width: 80%;
    }

    /* UserInfo CSS */
    .flex-item-room-code {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .flex-item-users {
        display: none;
    }
    
    /* CurrentModule CSS */
    .info-column {
        display: none;
    }

    /* Footer Style */
    .footer {
        display: none;
    }
}

/* large screens */
@media (min-width: 992px) {
    /* Party Portal CSS */
    .instruction-module-portal ol, .instruction-module-portal ul {
        width: 900px;
    }

    /* Queue CSS */
    .flex-item-queue-list {
        height: 20rem;
        width: 15rem;
    }

    /* CurrentModule CSS */
    .info-column {
        display: inline-block;
    }

    /* Footer Style */
    .footer {
        display: block;
    }
}

/* extra-large screens */
@media (min-width: 1200px) {
    /* Party Portal CSS */
    .instruction-module-portal ol, .instruction-module-portal ul {
        width: 1100px;
    }

    /* Footer Style */
    .footer {
        display: block;
    }
}

