* {
    box-sizing: border-box;
    /* For debugging */
    /* border: 1px solid green; */
}

/* Portal */
.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-item {
    flex: 1;
}
