/* Party Interface */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
}

.interface-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 100vh;
}

.flex-item-space {
    flex: 1 0 10px;
}

.hidden {
    display: none;
}

.user-column {
    flex: 0 1 50px;
    background-color: #FFFFFF;
}

.results-column {
    flex: 6;
}

.info-column {
    flex: 0 0 auto;

    background: rgb(32, 27, 27);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.form-container {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}

.portal-content {
    padding-top: 20%;
}

/* User Columns */
.user-content {
    top: 0;
    height: 75%;
}

/* room code header */
.flex-item-room-code {
    margin-top: 60px;
    color: #1DB954;
    text-align: center;
}

.user-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* each user */
.user-item {
    display: flex;
    flex-direction: row;
    margin: 1em;
    margin-right: 1.5em;
}

.user-photo {
    border-radius: 50%;
    height: 2em;
}

.user-name {
    display: inline-block;
}
/* open navigation bar */
.sidenav {
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

/* Position and style the close button (top right corner) */
.sidenav .btn {
    font-size: 36px;
    color: #1DB954;
    /* background-color: white; */
    /* border: none; */
}

.sidenav .closebtn {
    margin: 5px;
    margin-right: 15px;
    background-color: white;
    border: 1px;
    cursor: pointer;
}

.sidenav .openbtn {
    width: 100%;
    text-align: center;
}

.sidenav .leavebtn {
    display: none;
    margin-top: 1em;
    width: 100%;
}

.horizontal {
    writing-mode: vertical-rl;
}

.flex-item-users {
    margin-left: 15px;
    padding: 0 5px;
    align-items: left;
    color: #000000;
}

.flex-item-space {
    flex: 3;
}

button.leave {
    bottom: 200px;
    flex: 1;
    color: #1DB954;
    background-color: white;
    /* border: none; */ /* for testing */
}
.button-holder {
    padding-left: 30%;
}
.flex-item-users li {
    padding: 5px; 
    list-style-type: none;
}

.party-id-field {
    flex: 5;
    margin-right: 0.5em;
    background: transparent;
    font-size: 1rem;
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
}
.party-error {
    color: red;
    margin-left: 1rem;
    margin-bottom: 0;
    font-size: small;
    border-color: red;
}

.error-Id-box {
    border-color: red;
}

.username {
    flex: 5;
    margin-right: 0.5em;
    background: transparent;
    font-size: 1rem;
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
}

.submit-button {
    flex: 1;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: 9px 0px 9px 0px;
    
    cursor: pointer;
}

.new-party-link {
    text-decoration: none;
    border: none;
}

.new-party-link:hover {
    color: gray;
    cursor: pointer;
}

/* Base style */
html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;
}

/* Results Column */
form {
    padding: 5px 22px 0px 10px;
}
form input {
    margin: 0.5rem;
    background: transparent;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    width: 100%; 
}

.flex-item-songs-container {
    height: 100%;
    margin: 5px 5px 0px 5px;

    display: flex;
    flex-direction: column;
}

/* Song cards */
.flex-item-song-card {
    flex: 0 0 auto;

    margin: 0.5%;
    height: 100px;

    display: flex;
    flex-direction: row;
}

.song-card-image-box {
    background-color: #000000;
    height: 100px;
    float: left;
    width: 100px;
}

.song-card-image-desc {
    flex: 1;
    background-color: #000000;
    padding-left: 5px;
    width: 60%;
    float: left;
}

.song-card-image-desc h1 {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.song-card-image-desc h2 {
    margin-top: 0;
    color: gray;
    font-size: 1rem;
}

.song-card-image-end-bar {
    flex: 1;
    background-color: #000000;
    height: 100%;
}

.song-card-image-end-bar h2 {
    color: gray;
    margin: 35px 0px 0px 5px;
    float: right;
}

.song-card-image-end-bar-icon {
    margin: 35px 25px 0px 5%;
    float: right;
}

.add-queue-icon {
    color: gray;
    cursor: pointer;
}

/* Queue Info Column */
.flex-item-currently-playing {
    background: #C4C4C4;
    margin: 0px 0px 0px 0px;
    width: 100%;

    max-width: 250px;
    max-height: 250px;

    flex: 1;
    align-self: flex-start;
}
.play-history-button {
    width: 100%;
    background-color: white;
    border-color: #C4C4C4;
    cursor: pointer;
}
.party.flex-item-currently-playing::after {   /* To make a dynamic square */
    display: block;
    padding-bottom: 100%;
}

.album-image {
    width: 100%;
    height: 100%;

    border: 5px solid black;
}

/* Queue Style */
.flex-item-queue-list {
    /* Transition property for animation */
    transition: height 0.5s;
    background: #FFFFFF;
    color: black;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    margin: 2.5px 5px 0 0;
    height: 45px;
    border-radius: 10px 10px 0 0;
}

.song-list {
    overflow-y: auto;
}

.queue-header-container {
    display: flex;
    flex-direction: row;
}

.queue-header-item {
    flex: 2;
    margin: 0;
    padding: 1rem;
}
.queue-header-button {
    background-color: transparent;
    border-color: transparent;
}

.queue-item {
    margin: 0 1rem 0.5rem 1rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.queue-album-img img {
    position: center;
    size: contain;
    height: 3rem;
    width: 3rem;
    border-radius: 2px 0 0 2px;
}

.queue-item-info {
    flex: 1;
    padding: 0 0.25rem 0 0.25rem;
    margin: 0;
    font-size: 0.75rem;
    background: #FFFFFF;
    text-overflow: ellipsis;
    overflow-y: hidden;
}
.queue-item-info p, .queue-item-playing p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.queue-item-playing h1 {
    font-size: 10px;
    
}

.queue-item-playing {
    font-weight: bold;
    position: relative;
    height: 5rem;
    
}

.queue-item-playing .queue-album-img img {
    height: 5rem;
    width: 5rem;
}

.queue-item-info p {
    margin: 0;
}

.queue-remove-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.queue-remove-item span {
    flex: 1;
    padding: 0 0.25rem 0 0;
    font-size: 5px;
}

/* Loading Styles */
.loading-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.loading-icon {
    flex: 3;
    font-size: 50px;
}

.loading-text {
    flex: 1;
}

.queue-loading-button {
    font-size: 20px;
}

/* Footer Style */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/** History page */
.back-history-button {
    margin: 20px 0px 0px 20px;
    background: none;
    font-size: 2rem;
    border: none;
    color: white;
}

.back-history-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.history-title {
    text-align: center;
    font-size: 3rem;
}

/* Instructions and Disclaimers */

.instruction-module {
    text-align: center;
}

.instruction-module h1 {
    margin: 2rem;
    font-size: 3rem;
}

.instruction-module ol, .instruction-module ul {
    display: inline-block;
    text-align: left;
    width: 600px;
}

.instruction-module li {
    margin: 0.5rem;
}

.instruction-module-portal {
    margin-top: 2rem;
}

.text-column {
    float: left;
    width: 50%;
}
.text-column-item {
    width: 50%;
}
.two-columns-layout:after {
    display: table;
    clear: both;
}

/* Responsive Design */
/* mobile - extra-small screens */ 
@media (max-width: 598px) {
    /* Party Portal CSS */
    .instruction-module h1 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }
    
    .instruction-module ol, .instruction-module ul {
        width: 300px;
    }

    /* Queue CSS */
    .flex-item-queue-list {
        width: 80%;
    }

    /* UserInfo CSS */
    .flex-item-room-code {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .flex-item-users {
        display: none;
    }
    
    /* CurrentModule CSS */
    .info-column {
        display: none;
    }

    /* Footer Style */
    .footer {
        display: none;
    }
}

/* mobile - small screens */
@media (min-width: 598px) {
    /* Party Portal CSS */
    .instruction-module h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    
    .instruction-module ol, .instruction-module ul {
        width: 450px;
    }

    /* Queue CSS */
    .flex-item-queue-list {
        width: 80%;
    }

    /* UserInfo CSS */
    .flex-item-room-code {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .flex-item-users {
        display: none;
    }
    
    /* CurrentModule CSS */
    .info-column{
        display: none;
    }

    /* Footer Style */
    .footer {
        display: none;
    }
}

/* mobile - medium screens */
@media (min-width: 768px) {
    /* Party Portal CSS */
    .instruction-module h1 {
        margin-bottom: 3rem;
        font-size: 2rem;
    }
    
    .instruction-module ol, .instruction-module ul {
        width: 600px;
    }

    /* Queue CSS */
    .flex-item-queue-list {
        width: 80%;
    }

    /* UserInfo CSS */
    .flex-item-room-code {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .flex-item-users {
        display: none;
    }
    
    /* CurrentModule CSS */
    .info-column {
        display: none;
    }

    /* Footer Style */
    .footer {
        display: none;
    }
}

/* large screens */
@media (min-width: 992px) {
    /* Party Portal CSS */
    .instruction-module-portal ol, .instruction-module-portal ul {
        width: 900px;
    }

    /* Queue CSS */
    .flex-item-queue-list {
        height: 20rem;
        width: 15rem;
    }

    /* CurrentModule CSS */
    .info-column {
        display: inline-block;
    }

    /* Footer Style */
    .footer {
        display: block;
    }
}

/* extra-large screens */
@media (min-width: 1200px) {
    /* Party Portal CSS */
    .instruction-module-portal ol, .instruction-module-portal ul {
        width: 1100px;
    }

    /* Footer Style */
    .footer {
        display: block;
    }
}
