* {
    /* For debugging */
    /* border: 1px solid green; */
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 30vh;
}

#form-container {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}

#banner {
    flex: 1;
    font-size: 8em;
}

#party-id-field {
    flex: 5;
    margin-right: 0.5em;
    background: transparent;
    font-size: 1rem;
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
}

#submit-button {
    flex: 1;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    color: white;
}

#new-party-link {
    color: white;
    text-decoration: none;
}